@{
    ViewData["Title"] = "Welcome to Rando Bot";
}

<h2>@ViewData["Title"]</h2>

<p>Rando Bot is a simple Facebook messenger chat bot that allows users to swap pictures. Just send a picture and you'll get back a random picture :-)</p>

<p>
    <a href="https://m.me/1825547597664373/">
        <img src="/images/facebook-messenger.png" alt="Facebook Messenger" width="300" height="100">
    </a>
</p>