@{
    ViewData["Title"] = "Welcome to Transfer Buddy";
}

<h2>@ViewData["Title"]</h2>

<p>Transfer Buddy is a simple Facebook messenger chat bot that allows users transfer money via TransferWise at the best rates :-)</p>

<p>
    <!--<a href="https://m.me/1825547597664373/">
        <img src="/images/facebook-messenger.png" alt="Facebook Messenger" width="300" height="100">
    </a>-->
</p>